.Experience{
    display: flex;
    .body {
      font-family: sans-serif;
         }
  
   
   
    .top{
        margin: 0 0 0 70px;

        h5 {
            margin:100px 0 0 0;
            font-weight: bold;
    
        }
           
        p{
          font-size: 13px ;
          
        }

        .middle{
           
            margin: 40px 0 0 0;
    
         form{
            label{
                font-size: 13px;
                color: #303030;
                line-height: 3;
            }
          
           
            
            .input{
                width: 25em;
                height: 2.3em;
                border-radius: 5px;
                border-width: 1px;   
            }
            ::placeholder{
                color: darkgray;
                font-size: 13px;
                padding: 0 0 0 10px;
            }
            

            .Checkbox{
                margin-top: 14px;
                margin-right: 10px;
                }
            .text-editor{
                margin-top: 20px;
            }
            .career-field{    
                height: 27.72rem;
                border-style: ridge;
            }
            .career-field p{
                background-color: darkgrey;
                height: 40px;
                text-align: center;
                padding-top: 8px;   
            }
            
            .Button{
                margin-top: 50px;
                display:flex;
                justify-content:space-between;
            
            }

            .Addmore{
                text-align: center;
                font-size: 13px;
                height: 3em;
                width: 9em;
                margin-top: 13px;
                color: #2FBE6E;
                border-color: #2FBE6E;
                background-color: white;
            }
            
            .REMOVE{
                text-align: center;
                font-size: 13px;
                height: 3em;
                width: 9em;
                margin-top: 13px;
                color: red;
                border-color: red;
                background-color: white;
            }
            
            .Back{
                background-color: darkgrey;
                height: 3em;
                width: 7em;
                border-color: #F9F9F9;
            }
            
            .Submit{
                background-color: #F07201;
                height: 3em;
                width: 7em;
                border-color: #F07201;
               
            }
            
            
          
            .select-year{
          margin-top: 38px;
          
            }

            .quill{
                height: 25rem;
            }
           
        }
          }
    
    }

  
  }


  .education {
      display: flex;
      .head {
          margin: 2em 0 0 0;
      }
      .formview {
        margin: 1.5em 0 0 0;
     }
     .input{
        height:2.4rem;
        width: 23em;
        border-color: #2FBE6E ;
        border-width: 0.1em;
        border-radius: 0.3em;
     }
     .newinput {
        height:2.4rem;
        width: 11em;
        border-color: #2FBE6E ;
        border-width: 0.1em;
        border-radius: 0.3em;
    }
     
     .year {
        margin: 1.5em 0 0 0;
        border-color: #2FBE6E;
        width: "max-content";
        min-Width: "100%"
     }
     .check {
        margin: 1em 0 0 24em;
     }
     .check label {
        margin: 0 0 0 0.8em;
     }
     .addbutton {
         margin: 1em 0 1em 0;
     }  
     .add {
         background-color: #fff;
         height: 3em;
         width: 7em;
         color: #2FBE6E;
         border-color: #2FBE6E;  
     }
     .remove {
        background-color: #fff;
        height: 3em;
        width: 7em;
        color: #ee1111;
        border-color: #ee1111;  
    }
    .back {
        background-color: #fff;
        height: 3em;
        width: 7em;
        color: #000;
        border-color: rgb(193, 200, 207);  
    }
    .save {
        background-color: orange;
        height: 3em;
        width: 7em;
        color: #fff;
        border-color: orange;  
    }
      
  }

  .registration{
    display: flex;
    background-image: url("https://images.pexels.com/photos/1287145/pexels-photo-1287145.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    height: 48em;
    
    .body {
      font-family: sans-serif;
         }
         form{
            label{
                font-size: 15px;
                color: #303030;
                line-height: 3;
                margin-top: 20px;
            }
          
           
            
            input{
                width: 25em;
                height: 2.3em;
                border-radius: 5px;
                border-width: 1px;   
             
            }
            ::placeholder{
                color: darkgray;
                font-size: 13px;
                padding: 0 0 0 10px;
            }

            
            .Submit{
                background-color: #F07201;
                height: 3em;
                width: 7em;
                border-color: #F07201;
               
            }
            .error{
                font-size: 18px;
                color: red;
            }
            .Back{
                background-color: darkgrey;
                height: 3em;
                width: 7em;
                border-color: #F9F9F9;
            }
        }
          }



.Objective{

    display: flex;
    .quill{
       height: 30em; 
       width: 80em;
    }
    .Submit{
        background-color: #F07201;
        height: 3em;
        width: 7em;
        border-color: #F07201;
        margin-left: 60em;
       
    }
    .Back{
        background-color: darkgrey;
        height: 3em;
        width: 7em;
        border-color: #F9F9F9;
    }
}

.personalinfo{
    .Submit{
        background-color: #F07201;
        height: 3em;
        width: 7em;
        border-color: #F07201;
        margin-left: 60em;
       
    }
    .Back{
        background-color: darkgrey;
        height: 3em;
        width: 7em;
        border-color: #F9F9F9;
    }
}

.skill{
    .Submit{
        background-color: #F07201;
        height: 3em;
        width: 7em;
        border-color: #F07201;
        margin-left: 60em;
       
    }
    .Back{
        background-color: darkgrey;
        height: 3em;
        width: 7em;
        border-color: #F9F9F9;
    }
}